@media (max-width: 1024px) {
	.navigation {
		width: 100%;
	}
	.section-1 {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.wave-button {
		margin: 50px auto;
	}
	.right-block {
		margin: 70px auto;
	}
}
@media (max-width: 900px) {
	.navigation {
		display: none;
		}
	.burger {
		display: block;
		}
	.sec-2 {
		width: 48%;
	}
}
@media (max-width: 600px) {
	
}
@media (max-width: 360px) {


}


@media (max-width: 600px) {
	.section-two-box {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.box2,
	.box5 {
		margin-top: 30px;
	}
	h1 {
		font-size: 45px;
	}
	h5 {
		font-size: 14px;
	}
}
	
@media (max-width: 425px) {
	.section-two-box {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
}