header {
	background-color: #FFFFFF;
	width: 100%;
	position: fixed;
	top: 0px;
}
.header-block {
	display: flex;
	width: 100%;
	max-width: 1516px;
	justify-content: space-between;
	margin: 0 auto;
	
}
.logo-img {
	width: 100%;
	max-width: 190px;
	margin-top: 64px;
}
.navigation {
	margin-top: 80px;
	max-width: 600px;
}
.nav-ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
	color: #3D37F1;
	font-size: 20px;
	font-family: 'Lato-bold';
	text-transform: uppercase;
}
.nav-li {
	margin-left: 30px;
}
.burger {
	margin-top: 80px;
	display: none;
}
/*section 1*/
.section-1 {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.left-block {
	display: flex;
	flex-direction: column;
	max-width: 636px;
	width: 100%;
	margin-top: 270px;
}

.main-title {
	font-size: 78px;
	color: #534D4D;
	font-family: 'Lato-bold';
	line-height: 1.6;
	max-width: 630px;
	width: 100%;
}
.minor-title {
	font-size: 22px;
	color: #534D4D;
	margin-top: 40px;
	font-family: 'Roboto-regular';
	max-width: 600px;
	width: 100%;
}
.wave-button {
	display: flex;
	background-color: #3D37F1;
	width: 100%;
	max-width: 260px;
	border-radius: 38px;
	margin-top: 130px;
	padding: 25px;
	justify-content: space-around;
	align-items: center;
}
.button-img {
	max-width: 40px;
}
.button-text {
	color: #FFFFFF;
	font-size: 23px;
	margin-left: 20px;
	font-family: 'Poppins-regular';
}
.right-block {
	display: flex;
	margin-top: 270px;
	height: auto;
	width: 100%;
	max-width: 800px;
}
.main-img {
	width: 100%;
}
/*section 2*/
.section-2-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 270 auto;
	height: auto;
}
.sec2-top-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 700px;
	height: auto;
	margin-top: 75px;
}
.sec2-heading-1 {
	color: #3D37F1;
	font-size: 20px;
	margin-top: 85px;
	font-family: 'Lato-bold';
}
.sec2-heading-2 {
	font-size: 40px;
	color: #5A5454;
	margin-top: 12px;
	font-family: 'Lato-regular';
}
.sec2-text {
	color: #747474;
	font-size: 18px;
	line-height: 1.6;
	margin-top: 20px;
	font-family: 'Roboto-regular';
}
.sec2-bottom-block {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.line-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.sec-2 {
	max-width: 370px;
	height: 450px;
	padding: 88px 21px 48px 21px;
}
.box-1 {
	background-image: linear-gradient(#FBBA77, #DFA871);
	align-items: center;
	box-shadow: 0 40px #C5C3F926;
}
.box-2 {
	align-items: center;
	background-image: linear-gradient(#41EAE3, #2293B7);
	box-shadow: 0 40px #C5C3F926;
	margin: 0 30px;
}
.box-3 {
	align-items: center;
	background-image: linear-gradient(#69529F,#463864);
	box-shadow: 0 40px #C5C3F926;
}
.box-title {
	margin-top: 55px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: 'Lato-regular';
}
.box-text {
	margin-top: 15px;
	max-width: 328px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Roboto-regular';
}
.box-button {
	margin: 15px auto 48px;
	border-radius: 23px;
	max-width: 131px;
	width: 50%;
	height: 45px;
	font-size: 15px;
	color: #FFFFFF;
	border: solid 2px;
	border-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto-medium';
}
.box-button:hover {
	background-color: #FFFFFF;
	color: #4B647E;
	font-family: 'Roboto-regular';
}
.line-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 60px;
	margin-bottom: 130px;
}
.box-4 {
	align-items: center;
	background-image: linear-gradient(#4386D2, #0962C5);
	box-shadow: 0 40px #C5C3F926;
}
.box-5 {
	align-items: center;
	background-image: linear-gradient(#A5A2F6, #564FD6);
	box-shadow: 0 40px #C5C3F926;
	margin: 0 30px;
}
.box-6 {
	align-items: center;
	background-image: linear-gradient(#FF8088, #984141);
	box-shadow: 0 40px #C5C3F926;
}
